.card {
  align-items: center;
  background-color: rgb(227, 174, 58);
  border-radius: 10px;
  box-shadow: 4px 4px 2px rgba(51, 19, 0, 0.7);
  display: flex;
  flex-direction: column;
  font-family: Bree Serif , serif;
  height: 400px;
  justify-content: space-between;
  margin: 15px;
  overflow: hidden;
  padding: 5px;
  width: 280px;
}

.top-side {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.card-name {
  background-color: white;
  border-radius: 16px;
  font-family: Bangers , cursive;
  margin: 5px;
  padding: 3px;
  text-align: center;
  width: 75%;
}

.card-img {
  border: 2px solid white;
  border-radius: 10px;
  height: 120px;
  margin: 1px;
  object-fit: cover;
  width: 260px;
}

.card-description {
  background-color: aliceblue;
  border-radius: 8px;
  font-size: 0.7em;
  margin: 5px;
  padding: 5px;
  text-align: center;
  width: 260px;
  word-wrap: break-word;
}

.bottom-side {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card-attr {
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 16px;
  color: rgb(171, 22, 22);
  margin: 2px 0;
  padding: 2px 8px;
  text-align: center;
  width: 180px;
}

.card-rarity {
  background-color: rgb(233, 238, 243);
  border-radius: 16px;
  font-family: Bangers , cursive;
  margin: 5px 0;
  padding: 2px 8px;
  text-align: center;
  text-transform: uppercase;
}

.trump-and-exclude {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.trunfo {
  background-color: rgb(242, 229, 201);
  border-radius: 8px;
  color: rgb(171, 22, 22);
  font-family: Bangers , cursive;
  padding: 5px;
}

.delete-btn {
  background-color: rgb(171, 22, 22);
  border: none;
  border-radius: 8px;
  color: rgb(242, 229, 201);
  font-family: Bangers , cursive;
  margin: 5px;
  padding: 5px;
  width: 80px;
}
